
body {
  height: 100%;
  position: relative;
  width: 99%;
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  font-size: -webkit-xxx-large;
  font-family: fantasy;
  background-color: steelblue;
  margin: 0;
  padding-top: 18px;
}

.all-months {

}