
html {
background-color: #e6e6e6;
}

body {
  height: 100%;
  position: relative;
  width: 99%;
  margin: 0;
}

h1 {
  margin: 0;
  text-align: -webkit-center;
  font-size: 90px;
  background: indianred;
  border-radius: 27%;
}

h2 {
  font-size: -webkit-xxx-large;
  font-family: fantasy;
  background-color: steelblue;
  margin: 0;
  padding-top: 18px;
}

span {
  margin: 25px;
  word-spacing: 82px;
  width: 100%;
  position: relative;
  left: 13.5%;
  font-family: cursive;
  font-size: 16px;
}

.app {
  width: 100%;
  height: 100%;
}

.all-months {
  position: absolute;
  left: 10%;
  right: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3% 3% 1%;
  background: #fff;
  margin-top: 2%;
  margin-bottom: 2%;
}

.month {
  padding-bottom: 4%;
}
.week {
  font-size: -webkit-xxx-large;
  padding-left: 12%;
  padding-right: 11%;
}

.weekdays {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  height: 64px;
  top: 19px;
  font-family: serif;
}

.days {
  border-style: solid;
  border-width: 1px;
  width: 143px;
  height: 83px;
  text-align: center;
  background-color: #E0E0E0;
}

.days-highligthed {
  border-style: solid;
  border-width: 1px;
  width: 143px;
  height: 83px;
  text-align: center;
}

.null-days {
  border-style: solid;
  border-width: 1px;
  width: 143px;
  height: 83px;
}

.circle:before {
  content: ' \25CF';
  color: rgb(113, 197, 113);
  font-size: initial;
  position: absolute;
}